.background {
  background-color: black;
}
.sch {
  position: fixed;
  top: 200px;
  left: 450px;
  background-color: rgb(242, 244, 244);
  /* opacity: 0.8; */
  padding: 50px;
  display: flex;
  width: 30%;
  flex-direction: column;
}
.time {
  color: red;
}
.selecttime {
  display: flex;
  flex-direction: column;
  max-width: 50%;
}
.drop {
  font-weight: bold;
  padding: 5px;
  border: 1px solid black;
  cursor: pointer;
  margin: 0px;
  width: 100%;
}
.uul {
  margin-top: 0px;
  margin-left: -40px;
}
.opt {
  cursor: pointer;
  width: 100%;
  padding: 6px;
  font-weight: bold;
  list-style: none;
  border: 1px solid rgb(213, 207, 207);
}
.opt:hover {
  background-color: rgb(219, 218, 218);
}
.selected {
  color: red;
}
.seatandtime {
  display: flex;
  max-width: 53%;
  margin: 0 auto;
  justify-content: space-between;
}
.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.x1 {
  outline: none;
  border-radius: 50%;
  border: 1px solid black;
  width: 40px;
  height: 34px;
  cursor: pointer;
}
.seat1 {
  cursor: pointer;
  width: 100%;
  font-size: 16px;
  padding: 6px;
  font-weight: 600;
  background-color: white;
  border: 1px solid rgb(0, 0, 0);
}
